@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Nunito');


body{
  margin:0 auto;
  background-color: #2574a9;
}

h1{
  text-transform: capitalize;
  margin: 15px auto;
  text-align: center;
  color: #fcfdfd;
  font-size: 48px;
  font-family: 'Nunito', sans-serif;
}


#right{
  position: absolute;
  left:5%;
  top: 15%;
  width:150px;
  font-family: 'Nunito', sans-serif;
}

/*#right div{
  border: 1px solid red;
}*/



.msg{
  color: #fcfdfd;
  font-size: 14px;
  line-height: 40px;
  height:40px;
  text-align: center;
  margin: 20px auto;
}

.scores{
  color: #fcfdfd;
  font-size: 20px;
  margin: 20px auto;
  width: 120px;
}



#p1 *{

  display: inline-block;
}
#p2 *{
  display: inline-block;
}

.num{
  float: right;
}

.chosen{
  background-color: #22313f;
}

.token{
  color: #fcfdfd;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 120px;
  height: 30px;
  margin: 10px auto;
  border-radius: 2px;
  border: transparent;
  cursor: pointer;
}

#again{
  background-color: #1bbc98;
}

#restart{
  background-color: #e26a6a;
}

.button{
  color: #fcfdfd;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 120px;
  height: 40px;
  margin: 10px auto;
  border-radius: 2px;
  border:transparent;
  cursor: pointer;
}


#board{
  position: absolute;
  left: 30%;
  top: 15%;
  margin: 0 auto;
  padding: 0 auto;
}

.cells{
  position: absolute;
  border: 2px dashed #fcfdfd;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}

.cells:nth-child(2){
  top: 0px;
  left: 150px;
}

.cells:nth-child(3){
  top:0px;
  left: 300px;
}

#r2{
  position: absolute;
  left: 0;
  top: 150px;
}

#r3{
  position: absolute;
  left: 0;
  top: 300px;
}


.x::after{
  content:"X";
  color: hotpink;
  font-size: 100px;
}

.o::after{
  content:"O";
  color: white;
  font-size: 100px;
}

.circle{
  background:url("../images/token-circle.png");
  background-size: contain;
}

.triangle{
  background:url("../images/token-triangle.png");
  background-size: contain;
}
